body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #555;
    text-align: center;
}

h2 {
    color: #888;
}

p {
    margin: 10px 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

/* Estilos para el gráfico */
/* Estilos para el gráfico */
canvas {
    display: block;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd; /* Añadir un borde suave */
    margin-left: auto; /* Mover la gráfica hacia la derecha */
    margin-right: 0; /* Eliminar el margen derecho */
    margin-top: -400px; /* Ajustar la distancia hacia arriba */
}
