<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Menú de Cuestionario{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='B_perfil.css') }}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


    <style>
            body {
                background-image: url("{{ url_for('static', filename='dum.webp') }}");
                background-size: cover;
                background-repeat: no-repeat;
            }
    </style>
</head>
<body>
    <nav>
        <img src="{{ url_for('static', filename='logo3.png') }}" alt="Logo" class="logo">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/registrar_perfil">Perfil</a></li>
            <li><a href="/contact_form">Contacto</a></li> 
            <li><a href="/login">Login</a></li>
            <li><a href="/buscar">buscar</a></li>

        </ul>
    </nav>

    <div>
        {% block content %}
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </div>
</body>
</html>
