{% extends "base_menu.html" %}

{% block title %}Bienvenido{% endblock %}

{% block styles %}
<style>
    body {
        text-align: center;
        background-color: white; /* Fondo blanco */
    }
    
    .content-container {
        margin: 50px auto; /* Centrado vertical */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para resaltar */
    }
</style>
{% endblock %}

{% block content %}
<div class="content-container">
    <h1>Bienvenido, {{ nombre }}</h1>
    <p>¡Has iniciado sesión correctamente!</p>
</div>
{% endblock %}
